*{
    margin: 0;
    padding: 0;
}
.all-btn{
    background-color: #1D4ED8;
    color: white;
    margin-left: auto;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}
nav div{
    display: flex;
    
    align-items: center;
    gap: 20px;
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
    flex: 1;
    /* border: 1px solid #1e2c47; */
}
.menu{
    display: flex;
    justify-content: center;
    gap: 15px;
    list-style: none;
    flex: 1;
}
ul li a{
    text-decoration: none;
    margin-right: 20px;
    color: #575757;
    
}

.banner{
    background-image:linear-gradient(to right,rgba(0, 0, 0, 0.75),rgba(0, 0, 0, 0.15)),url('./assets/banner.jpg');
    height: 90vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;   
}
.banner-content{
    max-width: 1200px;
    margin: 0 auto;
    color: white;
    padding-top: 100px;
    align-items: center;
}
.banner-content h1{
    font-size: 50px;
    font-weight: 700;
    margin-bottom: 20px;
    text-align: center;
}
.banner-content p{
    font-size: 18px;
    margin-bottom: 30px;
    text-align: center;
}
.banner-content button{
    display: block;
    text-align: center;
    margin: 230px auto 0;
}
/* container section */
/* meet the speaker section */
.container-top{
   text-align: center;
    padding-top: 80px;

}

.container-bottom{
    display: flex;
    gap: 20px;
}
.container-bottom{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
    padding-top: 50px;
    
}
.container-bottom div img{
   max-width: 100%;
    
}
.container-bottom div{
    border: 1px solid #d9dcdf;
    padding: 20px;
    border-radius: 10px;
}
.container-bottom div p{
    text-align: left;
    margin-left: 10px;
}
.container-bottom div h3{
    text-align: left;
    margin-left: 10px;
}
.p-color{
    color: #1D4ED8;
}
/* end  */
/* start pricing section */
/* .standard{
    border: 1px solid #d9dcdf;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}
.pricing{
    max-width: 1200px;
    margin: 0 auto;
   
} */
.pricing{
    padding-top: 80px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
    max-width: 1000px;
    margin: 0 auto;
}
.standard{
    border: 1px solid #d9dcdf;
    padding: 20px;
    border-radius: 10px;
    text-align: left;
}
.standard li a{
    text-align: left;
    color: #575757;
    line-height: 2;
}
.price-btn{
    font-size: 20px;
    font-weight: 900px;
    background-color: white;
    color: #6D96F2;
    width: 100%;
    margin: 10px auto 0;
    padding: 10px 20px;
    border-radius: 10px;
    border: 2px solid #1c3266
    
    
}
.pro{
    background-color: #0D1B2A;
    color: #FFFFFF;   
    border: 1px solid #d9dcdf;
    padding: 20px;
    border-radius: 10px;
    text-align: left;
}
.pro li a{
    text-align: left;
    color: #575757;
    line-height: 2;
}
.team{
    border: 1px solid #d9dcdf;
    padding: 20px;
    border-radius: 10px;
    text-align: left;
}
.team li a{
    text-align: left;
    color: #575757;
    line-height: 2;
    margin-left: 2px;
}
ul{
    padding-left: 15px;
}
.pro button{!important
    front-size: 20px;
    font-weight: 900px;
    background-color: #1D4ED8;
    color: white;
    margin-left: 10px auto 0;
    padding: 10px 20px;
    border-radius: 10px;
    border: 2px solid #1c3266
    cursor: pointer
}

/* fotter */
footer{
    display: flex;
    justify-content: space-between;
    background-color:#0D1B2A;
    color: #5E6671;
    padding: 40px ;
    text-align: center;
}
footer ul{
    display: flex;
    gap: 20px;
    list-style: none;
    text-decoration: none;
}